**DATA TYPES:**
**NUMERIC**

In [8]:
import sys
val1=10 # Integer Data Type
print(val1)
print(type(val1)) # type of object
print(sys.getsizeof(val1)) # size of integer object in bytes
print(val1,'is Integer?',isinstance(val1,int)) #isintance cheking the value is integer

10
<class 'int'>
28
10 is Integer? True

In [74]:
val2=91.3 #float data type
print(val2)
print(type(val2))
print(sys.getsizeof(val2))
print(val2,'is Float?',isinstance(val2,float))

91.3
<class 'float'>
24
91.3 is Float? True

In [77]:
2e0 # only e letter is allowed in float
3E12

3000000000000.0

In [14]:
val3=25+10j # complex data type , Only j/J letter allowed 
print(val3)
print(type(val3))
print(sys.getsizeof(val3))
print(val3,'is Float?',isinstance(val3,complex))

(25+10j)
<class 'complex'>
32
(25+10j) is Float? True

In [87]:
val3.real

25.0

In [89]:
val3.imag

10.0

In [15]:
sys.getsizeof(int())

28

In [16]:
sys.getsizeof(float())

24

In [17]:
sys.getsizeof(complex())

32

**Boolean:** Boolean data type can have only two possible values True or False.
the numeriac value for True=1 and for False=0

In [22]:
bool1=True
print(bool1)
print(type(bool1))
print(isinstance(bool1,bool)) #checking is boolean or not

True
<class 'bool'>
True

In [78]:
bool=true

NameError: name 'true' is not defined

In [85]:
print(True+True)
print(True-False)
print(True-False*False)
print(False/True)
print(True/False)

2
1
1
0.0

ZeroDivisionError: division by zero

In [23]:
bool2=False
print(type(bool2))
print(isinstance(bool2,bool))

<class 'bool'>
True

In [24]:
bool(0)

False

In [25]:
bool(1)

True

In [26]:
bool(None)

False

In [27]:
bool(False)

False

**STRING:** 
**STRING CREATION**

In [30]:
str1='hello python' # define string using single quotes
print(str1)
print(type(str1))

hello python
<class 'str'>

In [33]:
mystr="hello world" #define string using double quotes
mystr

'hello world'

In [37]:
mystr='''hello
world''' #define string using triple quotes
mystr

'hello\nworld'

In [38]:
mystr2='Woohoo '
mystr2=mystr2*5
print(mystr2)
print(len(mystr2))

Woohoo Woohoo Woohoo Woohoo Woohoo
35

**String Indexing:**
Two types of string Indexing 1. Forward Indeing 2. Backward Indexing

In [39]:
str1

'hello python'

In [41]:
# forward indexing
str1[0] # First character of string

'h'

In [43]:
# Backward Indexing
str1[len(str1)-1]# last character in string using len function

'n'

In [44]:
str1[-1]

'n'

In [46]:
myworld="My world is the greatest palce in the universe .Here are to many living things"

In [50]:
myworld[10]

's'

**String Slicing**

In [54]:
myworld[0:16] #String Slicin _Fetch All character from 0 to 15 index location it fetches the inddex till n-1

'My world is the '

In [56]:
myworld[0:-3]

'My world is the greatest palce in the universe .Here are to many living thi'

In [58]:
myworld[:]

'My world is the greatest palce in the universe .Here are to many living things'

In [59]:
myworld[:18] #all character before 18 index

'My world is the gr'

In [60]:
myworld[::-1] # backword sling , Reverse the string

'sgniht gnivil ynam ot era ereH. esrevinu eht ni eclap tsetaerg eht si dlrow yM'

In [90]:
myworld[0:30:2] #steps slicing

'M ol stegets ac'

In [62]:
str1

'hello python'

In [63]:
# string are immutable which means elements of string can't chage once it declare means it  remains samema
str1[0:5]='holaa'

TypeError: 'str' object does not support item assignment

In [64]:
del str1 # del the str1

In [65]:
str1

NameError: name 'str1' is not defined

**Data Concatenation**

In [71]:
s='Hello!'
s1=' I am'
s2=''
s3=' sorry'
s2=s3
s4=s+s1+s2
s4

'Hello! I am sorry'

**Type Casting:**
All other data type to Integer

In [91]:
int(2.3) # float to int

2

In [92]:
int(True)#bool to int

1

In [93]:
int(False)

0

In [94]:
int(10+8j) #complex to int not possible

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [95]:
int('10')#string to integer

10

In [96]:
int('ten') # character string to int not possible

ValueError: invalid literal for int() with base 10: 'ten'

In [97]:
int(2.3,4.5) # two argument not possible

TypeError: 'float' object cannot be interpreted as an integer

**All other to Float**

In [99]:
float(11)# int to float

11.0

In [100]:
float(True)#bool to float

1.0

In [101]:
float(False)

0.0

In [102]:
float(1+2j)# not possible

TypeError: float() argument must be a string or a real number, not 'complex'

In [103]:
float('10')

10.0

In [104]:
float('ten')

ValueError: could not convert string to float: 'ten'

# other datatype to complex

In [105]:
complex(10) # int to complex

(10+0j)

In [106]:
complex(10,20)

(10+20j)

In [107]:
complex(10+20)

(30+0j)

In [108]:
complex(9.7)

(9.7+0j)

In [109]:
complex(9.7,3.2)

(9.7+3.2j)

In [110]:
complex(False,True)#bool to complex

1j

In [111]:
complex('10')

(10+0j)

In [112]:
complex('10','20')

TypeError: complex() can't take second arg if first is a string

# All other to string

In [117]:
str(1) # int to str

'1'

In [118]:
str(2.4) #float to str

'2.4'

In [119]:
str(False)#Boolean to string

'False'

In [120]:
str(1+3j) # complex to str

'(1+3j)'

In [129]:
import sys
sys.version

'3.13.5 | packaged by Anaconda, Inc. | (main, Jun 12 2025, 16:37:03) [MSC v.1929 64 bit (AMD64)]'

In [130]:
python --version

NameError: name 'python' is not defined